header {
	margin-bottom: 0px;
	margin-top: 55px;
}

.jumbotron {
	background-color: grey;
	color: white;
	border-radius: 0px;
}

footer {
	padding: 10px 10px 10px 10px;
	background-color: grey;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-servicio {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-vermas {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}