header {
  margin-top: 50px;
  margin-bottom: 0px; }

.jumbotron {
  background-color: #7f8082;
  color: white;
  border-radius: 0px; }

footer {
  padding: 10px 10px 10px 10px;
  background-color: #ede90e;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-servicio {
  flex: 1 200px;
  background-color: #09e80d;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-vermas {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
