$grey: #7f8082;
$yellow: #ede90e;
$red: #ed280e;
$green: #09e80d;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

header {
	@include margenes(50px, 0px);
}

.jumbotron {
	background-color: $grey;
	color: white;
	border-radius: 0px;
}

footer {
	padding: 10px 10px 10px 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}

.card-servicio {
	flex: 1 200px;
	background-color: $green;
	@include margenes(10px, 0px);
}

.btn-vermas {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}